.main_adaptiv {
    display: flex;
    max-width: 1920px;
    min-height: 1080px;

}

.left_block {
    background-color: aqua;
    max-width: 90px;
    min-width: 90px;
    min-height: 1080px;
    position: absolute;

}

.right_block {
    display: flex;
    flex-direction: column;
    background-color: #353D54;
    max-width: 1830px;
    min-height: 1080px;
    position: relative;
    margin-left: 90px;
    top: 0px;
}

.date_time {
    max-width: 1830px;
    height: 120px;
    background-color: rgb(0, 255, 34);

}

.theme {
    max-width: 1830px;
    height: 60px;
    background-color: blue;


}

.main_content {
    max-width: 1830px;
    height: 744px;
    background-color: rgb(0, 162, 255);
}

.main_text {
    position: absolute;
    max-width: 1714px;
    height: 744px;
    left: 46px;
    background: #6A7180;
    border-radius: 4px;
    top: 180px;
    right: 70px;
    border: 1px solid red;
}

.back_button {
    max-width: 1830px;
    height: 150px;
    position: relative;
}

.button_back {
    width: 198px;
    height: 76px;
    position: absolute;
    right: 70px;
    top: 25px;
    background: #B2D63C;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.back_stile {
    width: 90px;
    height: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #333333;
    text-align: center;

}

.roll {
    width: 70px;
    height: 744px;
    position: absolute;
    top: 180px;
    right: 0px;
    background-color: chocolate;
}